* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* flex: 1; */
}

a {
    text-decoration: none;
    color: white;
    
}

.header-logo {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
}

.right-links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header{
    background-color: #1f2937 ;
    padding: 16px 48px;
}


.container-1 {
 display: flex;
 flex-wrap: wrap;
 margin-top: 48px;
 /* width: 800px; */
}

.subject {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;

}

.container-1 p {
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    font-size: 18px;
    
}

.container-1 button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;

}

img {
    width: 300px;
    height: 200px;
}

.subject-img-container {
    display: flex;
    align-items: center;

}

.para-button-container {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 16px;

}

.body {
    display: flex;
    flex-direction: column;
}

.body-header {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px;
    
}

.img-container img {
    width: 200px;
    border-radius: 20px;
    
}

.img-description p{
    width: 200px;
    text-align: center;
}

.section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.quote {
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.quote p {
    font-size: 36px;
    color: #1f2937;
}

.quote cite {
    margin-left: auto;
    font-weight: bold;
}

.call-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 72px auto;
}
.information {
    display: flex;
    width: 700px;
    background-color: #3882F6;
    padding: 32px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    margin: 0;
    
}
.info-button {  
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    border-color: white;
    margin-left: auto;
}


.main-info {
    font-weight: 700;
    font-size: 18px;
    margin: 0;  
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
